.speech {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color: rgba(2, 226, 0, 0.884);
    margin: 18px;
}

.stage-direction {
    font-family: 'Courier New', Courier, monospace;
    font-size: 32px;
    color: black;
    background-color: rgb(216, 210, 250);
}

.stage-direction:hover {
    background-color: rgb(43, 255, 0);
    color: rgb(251, 255, 0);
}
.name {
    font-size: 26;
    color: rgb(19, 16, 14);
}
.name:hover{
  text-shadow: 2px 2px 5px rgb(119, 0, 255);
  border: 1px solid rgb(255, 0, 0);
}


table {
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    border-collapse: collapse;
    width: 100%;
    margin: 10px;
  }
  
  td, th {
    border: 3px solid #141313;
    text-align: left;
    padding: 20px;
    margin: auto;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }